name: CI
on:
  push:

jobs:
  build:
    name: GHC v${{ matrix.ghc }}
    strategy:
      matrix:
        cabal: ["3.14.2.0"]
        ghc: ["9.6.4", "9.8.1", "9.10.1"]
        os: ["ubuntu-24.04"]
      fail-fast: false
    uses: GaloisInc/.github/.github/workflows/haskell-ci.yml@v1
    with:
      cabal: ${{ matrix.cabal }}
      # The numeric prefix can be updated to force the use of a new cache if
      # the current cache contents become corrupted/invalid.  This can
      # sometimes happen when (for example) the OS version is changed but
      # older .so files are cached, which can have various effects
      # (e.g. cabal complains it can't find a valid version of the "happy"
      # tool).
      cache-key-prefix: 1
      check: false
      ghc: ${{ matrix.ghc }}
      os: ${{ matrix.os }}
      submodules: "true"
      pre-hook: |
        cp cabal.project.dist cabal.project
        cat cabal.project.werror >> cabal.project
        cp cabal.project.ghc-${{ matrix.ghc }}.freeze cabal.project.freeze
