name: CI
on:
  push:

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        ghc-ver: ["8.10.7", "9.0.2", "9.2.2"]
        cabal: ["3.6.2.0"]
      # complete all jobs
      fail-fast: false
    name: GHC v${{ matrix.ghc-ver }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        submodules: true
    - name: Copy cabal project files
      run: |
        cp cabal.project.dist cabal.project
        cp cabal.project.werror cabal.project.local
        cp cabal.project.ghc-${{ matrix.ghc-ver }}.freeze cabal.project.freeze
    - uses: haskell/actions/setup@v1
      id: setup-haskell
      name: Setup Haskell
      with:
        ghc-version: ${{ matrix.ghc-ver }}
        cabal-version: ${{ matrix.cabal }}
    - name: Cache
      uses: actions/cache@v1
      with:
        path: /home/runner/.cabal/store/ghc-${{ matrix.ghc-ver }}
        # Prefer ref if it is still cached
        key: linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}-${{ github.ref }}
        # otherwise just use most recent build.
        restore-keys: linux-${{ matrix.ghc-ver }}-${{ hashFiles('cabal.project.freeze') }}
    - name: Cabal update
      run: cabal update
    - name: Build
      run: cabal build
    - name: Test
      run: cabal test
